{{define "changePage"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change</title>
    <link rel="stylesheet" href="/design/changePage.css">
</head>
<body>

    <nav>
        <a href="/promo"> Main Page</a>
        <a href="/change"> Pair Or Not</a>
    </nav>

    {{if eq .Pair true}}
    <p>The number is a pair</p>
    {{else}}
    <p>The number is not a pair</p>
    {{end}}
    <p>number of visits is {{.Counter}}</p>
</body>
</html>
{{end}}