{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Main page</title>
    <link rel="stylesheet" href="/design/index1.css">
</head>

<body>
    
    <nav>
        <a href="/promo"> Main Page</a>
        <a href="/change"> Pair Or Not</a>
        <a href="/change"></a>
        <a href="/change"></a>
    </nav>
    
    <h1>{{.Title}}</h1>
    <div>
        <span> Sector ({{.Sector}}) </span>
        <span> Level ({{.Level}}) </span>
        <span> Students in the class ({{.NbrStudent}}) </span>
    </div>
    <ul>
        {{range .Users}}
        <p>{{.FirstName}} {{.LastName}} age: {{.Age}} sex: {{.Sex}}</p>
        {{end}}
    </ul>
</body>

</html>
{{end}}