{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Main page</title>
    <link rel="stylesheet" href="/design/index1.css">
</head>

<body>
    
    <nav>
        <a href="/promo">Main Page</a>
        <a href="/change">Pair Or Not</a>
        <a href="/user/form">Form</a>
        <a href="/user/display">Display</a>
    </nav>
    
    <h1>{{.Title}}</h1>
    <div>
        <span> Sector ({{.Sector}}) </span>
        <span> Level ({{.Level}}) </span>
        <span> Students in the class ({{.NbrStudent}}) </span>
    </div>
    <ul>
        {{range .Users}}
        <p>{{.FirstName}} {{.LastName}} age: {{.Age}} </p>
        {{end}}
        {{if .Sex true}}
        <img src="/image/male-symbol-isolated-icon-on-transparent-background-free-png-1901627310.png" alt="male icon png">
        {{else}}
        <img src="/image/9c46aaMzi-959875563.png" alt="female icon png">
        {{end}}
    </ul>
</body>

</html>
{{end}}